{% extends 'base.html' %}
{% block content %}

    <div>
        <h2>Name: {{ pocketmonsters.name }}</h2> 
        <p>Type: {{ pocketmonsters.type }}</p>
        <p>Can Evolve: {{ pocketmonsters.can_evolve }}</p>
        <p>Evolution Stage: {{ pocketmonsters.evolution_stage }}</p>
    </div>
    <br>
    <a href="{% url 'pokemon_update' pocketmonsters.id %}">Edit Pokémon!</a>
    <a href="{% url 'pokemon_delete' pocketmonsters.id %}">Delete Pokémon?</a>
    <br><br><br><br><br><br><br><br>
    <a href="/pokemon">Back to all Pokémon!</a>
    
    
{% endblock %}