{% extends 'base.html' %}
{% block content %}

<h1>Pokémon List</h1>
<hr>
<br>
{% for poke in pokemon %}
    <div id="pokemonviewbox">
        <a href="/pokemon/{{ poke.id }}">
        <h2>{{ poke.name }}</h2>
        <p>Type: {{ poke.type }}</p>
        {% if poke.can_evolve == True %}
            <p>Can Evolve: Yes</p>
            <p>Evolution Stage: {{ poke.evolution_stage }}</p>
        {% else %}
            <p>Can Evolve: No. Max evolution reached.</p>
            <p>Evolution Stage: {{ poke.evolution_stage }}</p>
        {% endif %}
        </a>
    </div>
    <br><br>
    {% endfor %}
{% endblock %}