{% extends 'base.html' %}
{% block content %}

    <h1>About the Pokémon Collector</h1>
    <hr>
    <p>Hello, everyone! I'm the Pokemon Collector!</p>
    <p>Gotta catch them a- I mean, er, or rather, at least <em>try</em> to catch them all! I know it's not easy to catch <em>all</em> of them, of course... Haha, ahahaha...</p>
    <p>How about we talk about something more interesting, like how Ash Ketchum is <em>still</em> ten years old after nearly a third of a century has passed by? I was younger than him by nearly ten years when Pokemon was first created, and now I'm older than him by almost 14 years. Wut?</p>

{% endblock %}