{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav id="menubar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About the Pokémon Collector</a>
        <a href="{% url 'pokemon_create' %}">Create Pokémon!</a>
        <a href="{% url 'index' %}">View All The Pokémon!</a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div id="pokemonfooter">All Rights Reserved, © 2022 Pokémon Collector</div>
    </footer>
</body>
</html>