body {
    background-color: rgb(255, 204, 86);
}

#menubar {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

#pokemonviewbox {
    border-style: solid;
}

#datatable {
    border-style: solid;
    border-collapse: collapse;
    border-spacing: 0 5px;
}

#headdata {
    border-style: solid;
    border-collapse: collapse;
}

#bodydata {
    border-style: solid;
    border-collapse: collapse;
}