body {
    background-color: rgb(255, 204, 86);
}

#menubar {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

#pokemonviewbox {
    border-style: solid;
}

#pokemonfooter {
    pointer-events: none;
}